<div class="question section-test-layout-question images-question">
    <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
    <div class="section-test-layout-answer cf">
        @for (var j = 0; j < Model.Options.Count; j++)
        {
            <div class="answer question-item-img">
                <h3 class="new-test-title">
                    @Model.Options[j].Description
                </h3>
                <label class="container">
                    <input type="radio"
                           data-answer="@(j + 1)"
                           data-question="@Model.Options[j].QuestionNumber"
                           name="question-@Model.Options[j].QuestionNumber"
                           value="@Model.Options[j].ResultValue"
                           onclick="RegisterUserAnswer('@Model.Options[j].Id')">
                    <img src="data:image/png;base64, @Model.Options[j].Base64Image"
                         class="responsive question-item-bckg"
                         alt="@Model.Options[j].ResultValue">
                </label>
            </div>
        }
    </div>
</div>