@model List<PersonalityTestQuestion>

@{
    ViewData["Title"] = "Personality test start";
}

<div class="total-wrap-content">

    <div class="template-top-section">
        <div class="bg-image" style="background-image: url('../../images/test/top-bg.jpg')"></div>
        <div class="main-wrap-content">
            <div class="template-top-grid anim-block">
                <div class="image-item anim-elem left-visibility">
                    <div class="boy-image">
                        <img src="~/images/test/boy.png" alt="boy" class="template-image">
                    </div>
                </div>
                <div class="content-item anim-elem top-visibility">
                    <div class="content-box">
                        <div class="content-box-inner">
                            <p>
                                Открий твоите <br /><strong>#силни страни</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="section-test-layout anim-block">
        <div class="main-wrap-content anim-elem top delay-03">
            <div class="section-test-layout-box cf">
                <div class="test-col">
                    <div class="section-test-layout-content">
                        
                        <form action="Form" method="POST" id="test">
                            <div class="cover-div"></div>

                            <div class="question active section-test-layout-question images-question">
                                <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                <div class="section-test-layout-answer cf">
                                    <!-- answer 1 -->
                                    <div class="answer question-item-img">
                                        <h3 class="new-test-title">Действам</h3>
                                        <label class="container">
                                            <input type="radio" data-answer="1" data-question="1" name="question-1" value="action">
                                            <img src="~/images/test/1.jpg" class="responsive question-item-bckg" alt="first image">
                                        </label>
                                    </div>
                                    <!-- answer 2 -->
                                    <div class="answer question-item-img">
                                        <h3 class="new-test-title">Намирам решение</h3>
                                        <label class="container">
                                            <input type="radio" data-answer="2" data-question="1" name="question-1" value="process">
                                            <img src="~/images/test/2.jpg" class="responsive question-item-bckg" alt="second image">
                                        </label>
                                    </div>
                                </div>
                            </div>

                            @for (var i = 1; i < Model.Count; i++)
                            {
                                if (Model[i].QuestionOptions.First().IsTextOnly)
                                {
                                    <div class="question section-test-layout-question text-question">
                                        <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                        <div class="section-test-layout-answer cf">
                                            @for (var j = 0; j < Model[i].QuestionOptions.Count; j++)
                                            {
                                                <div class="answer question-item-onlyText">
                                                    <label class="container">
                                                        <input 
                                                            type="radio"
                                                            data-answer="@(j + 1)"
                                                            data-question="@Model[i].QuestionOptions[j].QuestionNumber"
                                                            name="question-@Model[i].QuestionOptions[j].QuestionNumber"
                                                            value="@Model[i].QuestionOptions[j].OptionResult">
                                                        <span class="only-text-content">
                                                            <span class="only-text-content-wrap">
                                                                <span class="checkmark"></span>
                                                                <span class="question-item-txt">
                                                                    <span>
                                                                        @Model[i].QuestionOptions[j].OptionDescription
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </label>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="question section-test-layout-question images-question">
                                        <div class="section-test-layout-title medium">Избери едно от двете твърдения, което в по-голяма степен се отнася за теб.</div>
                                        <div class="section-test-layout-answer cf">
                                            @for (var j = 0; j < Model[i].QuestionOptions.Count; j++)
                                            {
                                                <div class="answer question-item-img">
                                                    <h3 class="new-test-title">
                                                        @Model[i].QuestionOptions[j].OptionDescription
                                                    </h3>
                                                    <label class="container">
                                                        <input type="radio"
                                                               data-answer="@(j + 1)"
                                                               data-question="@Model[i].QuestionOptions[j].QuestionNumber"
                                                               name="question-@Model[i].QuestionOptions[j].QuestionNumber"
                                                               value="@Model[i].QuestionOptions[j].OptionResult">
                                                        <img src="data:image/png;base64, @Model[i].QuestionOptions[j].Base64Image"
                                                             class="responsive question-item-bckg"
                                                             alt="@Model[i].QuestionOptions[j].OptionResult">
                                                    </label>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                            }
                        </form>

                    </div>
                </div>
                <!-- /.col-->
            </div>
        </div>
    </section>
    
    

    <div class="templete-bottom-section">
        <div class="bg-image" style="background-image: url('../../images/test/bottom-bg.jpg')"></div>
    </div>

</div>